@inherits LayoutComponentBase

<div class="top-nav">
    <NavMenu />
</div>

<main class="main-content">
    @Body
</main>

<div id="blazor-error-ui">
    发生未处理的错误。
    <a href="" class="reload">重新加载</a>
    <a class="dismiss">✕</a>
</div>
