<nav class="navbar">
    <div class="navbar-brand">
        <a href="">CWFlgma</a>
    </div>
    
    <div class="navbar-links">
        <NavLink href="" Match="NavLinkMatch.All" class="nav-link">首页</NavLink>
        <NavLink href="documents" class="nav-link">文档</NavLink>
        <NavLink href="teams" class="nav-link">团队</NavLink>
    </div>
    
    <div class="navbar-actions">
        <a href="login" class="btn-login">登录</a>
    </div>
</nav>
